body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  padding-top: 5rem;
  margin: 0 auto;
  width: 80rem;  
}

.windows{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.table{
  width: 80%;
  margin-right: 2rem;
}

.window__header{
  background-color: #e5f1ee;  
}

.window__items.active{
  border: 2px solid blue;
  background-color: blue;
}

.EmployeeTable{
  width: 70%;
}
.FormForEditing{
  width: 30%;
}

.item{
  cursor: pointer;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn{  
  width: 47%;
}
.radio{
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;  
}
.radio_elem{
  margin-left: 0.5rem;;
}
.checkbox{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}