body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrapper{
  padding-top: 5rem;
  margin: 0 auto;
  width: 1280px;  
}

.windows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.window{
  width: 600px;
  border: 1px solid red;  
}

.add-new-user{
  display: flex;
  flex-direction: column;
}
.window__items{
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid blue;
}
.window__item{
  width: 150px;
}

.window__items.active{
  border: 2px solid blue;
  background-color: blue;
}
